
*.csproj
*.mtl
Library/assetDatabase3

Library/AssetImportState

Library/AssetServerCacheV3

Library/EditorUserBuildSettings.asset
Library/metadata
Library/ScriptMapper
Library/ShaderCache
*.meta
Library/shadercompiler-UnityShaderCompiler0.log
*.backup
*.bakert
Library/UnityTempFile*

*.aspx
fps.app/*
*.stamp

*.dwlt

*.log

*.txt

*.asset

*.stamp

*.dll

*.mdb
Temp/*
Untitled.app/*